---
repos:

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort

  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--target-version=py36]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: trailing-whitespace
        exclude: .bumpversion.cfg
      - id: end-of-file-fixer
      - id: check-json
        files: \.(json)$
      - id: check-yaml
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: pretty-format-json
        args:
          - --autofix

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        additional_dependencies: [
          flake8-blind-except,
          flake8-builtins,
          flake8-rst-docstrings,
          flake8-logging-format,
        ]
        args: [
          # default black line length is 88
          "--max-line-length=88",
          # Conflicts with black: E203 whitespace before ':'
          "--ignore=E203",
          "--rst-roles=class,func,ref,module,const",
        ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
      - id: mypy
        args: [
          --disallow-untyped-defs,
          --ignore-missing-imports,
        ]
        exclude: tests/*|setup.py

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.24.2
    hooks:
      - id: yamllint
        # args: [--config-data=relaxed]
        #
