name: Test pre-releases

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 */12 * * *'  # every 12 hours
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    name: Test ${{ matrix.os }} / ${{ matrix.toxenv }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: windows-latest, python_Version: '3.11', toxenv: 'py311'}
          - {os: macos-latest, python_Version: '3.10', toxenv: 'py310'}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        name: Install Python ${{ matrix.python_version }}
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install ubuntu libraries
        if: startsWith(matrix.os, 'ubuntu')
        run: "\
            sudo apt-get install -y \
            libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 \
            libxcb-image0 libxcb-keysyms1 libxcb-randr0 \
            libxcb-render-util0 libxcb-xinerama0 \
            libxcb-xinput0 libxcb-xfixes0"

      - name: Install & test
        run: |
          python -m pip install -U pip setuptools wheel pytest
          python -m pip install -r requirements/requirements-dev.txt
          tox -e ${{ matrix.toxenv }} --pre

      # If something goes wrong, we can open an issue in the repo
      - name: Report Failures
        if: ${{ failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OS: ${{ matrix.os }}
          PYTHON: ${{ matrix.python }}
          TOXENV: ${{ matrix.toxenv }}
          RUN_ID: ${{ github.run_id }}
          TITLE: '[test-bot] pip install --pre is failing'
        with:
          filename: .github/TEST_FAIL_TEMPLATE.md
          update_existing: true
